In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Datasets/geoMap.csv",skiprows=1,engine="python")

In [ ]:
df.head()

,City,zepto: (2/23/25 - 2/23/26),blinkit: (2/23/25 - 2/23/26),instamart: (2/23/25 - 2/23/26)
0,Jaitikhera,NaN,NaN,NaN
1,Banda Mailaram,NaN,NaN,NaN
2,Thailavaram,NaN,NaN,NaN
3,Mastemau,NaN,NaN,NaN
4,Khijadiya Khan,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   City                            200 non-null    object
 1   zepto: (2/23/25 - 2/23/26)      34 non-null     object
 2   blinkit: (2/23/25 - 2/23/26)    34 non-null     object
 3   instamart: (2/23/25 - 2/23/26)  34 non-null     object
dtypes: object(4)
memory usage: 6.4+ KB

In [ ]:
df.columns

Index(['City', 'zepto: (2/23/25 - 2/23/26)', 'blinkit: (2/23/25 - 2/23/26)',
       'instamart: (2/23/25 - 2/23/26)'],
      dtype='object')

In [ ]:
df.describe()

,City,zepto: (2/23/25 - 2/23/26),blinkit: (2/23/25 - 2/23/26),instamart: (2/23/25 - 2/23/26)
count,200,34,34,34
unique,200,19,21,11
top,Jaitikhera,39%,52%,12%
freq,1,4,5,7

In [ ]:
df1=df.copy()

In [ ]:
df1

,City,zepto: (2/23/25 - 2/23/26),blinkit: (2/23/25 - 2/23/26),instamart: (2/23/25 - 2/23/26)
0,Jaitikhera,NaN,NaN,NaN
1,Banda Mailaram,NaN,NaN,NaN
2,Thailavaram,NaN,NaN,NaN
3,Mastemau,NaN,NaN,NaN
4,Khijadiya Khan,NaN,NaN,NaN
...,...,...,...,...
195,Roorkee,NaN,NaN,NaN
196,Gohalli,NaN,NaN,NaN
197,Kolkata,30%,58%,12%
198,Lapkaman,NaN,NaN,NaN
199,Vasai,34%,53%,13%

In [ ]:
df1.columns=['city','zepto','blinkit','instamart']

In [ ]:
df1.head()

             city zepto blinkit instamart
0      Jaitikhera   NaN     NaN       NaN
1  Banda Mailaram   NaN     NaN       NaN
2     Thailavaram   NaN     NaN       NaN
3        Mastemau   NaN     NaN       NaN
4  Khijadiya Khan   NaN     NaN       NaN

In [ ]:
# Remove % symbol
df1["zepto"] = df1["zepto"].str.replace("%", "")
df1["blinkit"] = df1["blinkit"].str.replace("%", "")
df1["instamart"] = df1["instamart"].str.replace("%", "")

# Convert to numeric
df1["zepto"] = pd.to_numeric(df1["zepto"], errors="coerce")
df1["blinkit"] = pd.to_numeric(df1["blinkit"], errors="coerce")
df1["instamart"] = pd.to_numeric(df1["instamart"], errors="coerce")

df1.head()

             city  zepto  blinkit  instamart
0      Jaitikhera    NaN      NaN        NaN
1  Banda Mailaram    NaN      NaN        NaN
2     Thailavaram    NaN      NaN        NaN
3        Mastemau    NaN      NaN        NaN
4  Khijadiya Khan    NaN      NaN        NaN

In [ ]:
df1=df1.fillna(0)

In [ ]:
df1.tail()

         city  zepto  blinkit  instamart
195   Roorkee    0.0      0.0        0.0
196   Gohalli    0.0      0.0        0.0
197   Kolkata   30.0     58.0       12.0
198  Lapkaman    0.0      0.0        0.0
199     Vasai   34.0     53.0       13.0

In [ ]:
df1["Competitor_Total"] = df1["blinkit"] + df1["instamart"]
df1["zepto_Gap"] = df1["zepto"] - df1["Competitor_Total"]

df1.head()

             city  zepto  blinkit  instamart  Competitor_Total  zepto_Gap
0      Jaitikhera    0.0      0.0        0.0               0.0        0.0
1  Banda Mailaram    0.0      0.0        0.0               0.0        0.0
2     Thailavaram    0.0      0.0        0.0               0.0        0.0
3        Mastemau    0.0      0.0        0.0               0.0        0.0
4  Khijadiya Khan    0.0      0.0        0.0               0.0        0.0

In [ ]:
df1.tail()

         city  zepto  blinkit  instamart  Competitor_Total  zepto_Gap
195   Roorkee    0.0      0.0        0.0               0.0        0.0
196   Gohalli    0.0      0.0        0.0               0.0        0.0
197   Kolkata   30.0     58.0       12.0              70.0      -40.0
198  Lapkaman    0.0      0.0        0.0               0.0        0.0
199     Vasai   34.0     53.0       13.0              66.0      -32.0

In [ ]:
# Remove rows where all platforms are zero
df1 = df1[
    (df1['zepto'] != 0) |
    (df1['blinkit'] != 0) |
    (df1['instamart'] != 0)
]

df1 = df1.reset_index(drop=True)

df1.head()

             city  zepto  blinkit  instamart  Competitor_Total  zepto_Gap
0  Kattankulathur   54.0     37.0        9.0              46.0        8.0
1   Greater Noida   38.0     52.0       10.0              62.0      -24.0
2           Noida   40.0     52.0        8.0              60.0      -20.0
3    Secunderabad   51.0     33.0       16.0              49.0        2.0
4       Bengaluru   46.0     40.0       14.0              54.0       -8.0

In [ ]:
df1.shape

(34, 6)

In [ ]:
# Top 10 High Competition Cities

high_comp = df1.sort_values(
    by='Competitor_Total',
    ascending=False
).head(10)

high_comp

,city,zepto,blinkit,instamart,Competitor_Total,zepto_Gap
26,Dehradun,24.0,63.0,13.0,76.0,-52.0
32,Kolkata,30.0,58.0,12.0,70.0,-40.0
23,Panchkula,31.0,58.0,11.0,69.0,-38.0
21,Sahibzada Ajit Singh Nagar,31.0,55.0,14.0,69.0,-38.0
27,Faridabad,32.0,59.0,9.0,68.0,-36.0
15,New Delhi,34.0,56.0,10.0,66.0,-32.0
29,Jaipur,34.0,56.0,10.0,66.0,-32.0
33,Vasai,34.0,53.0,13.0,66.0,-32.0
6,Kharar,35.0,52.0,13.0,65.0,-30.0
7,Gurgaon,35.0,57.0,8.0,65.0,-30.0

In [ ]:
weak_markets = df1.sort_values(
    by='zepto_Gap'
).head(10)

weak_markets

,city,zepto,blinkit,instamart,Competitor_Total,zepto_Gap
26,Dehradun,24.0,63.0,13.0,76.0,-52.0
32,Kolkata,30.0,58.0,12.0,70.0,-40.0
21,Sahibzada Ajit Singh Nagar,31.0,55.0,14.0,69.0,-38.0
23,Panchkula,31.0,58.0,11.0,69.0,-38.0
27,Faridabad,32.0,59.0,9.0,68.0,-36.0
15,New Delhi,34.0,56.0,10.0,66.0,-32.0
33,Vasai,34.0,53.0,13.0,66.0,-32.0
29,Jaipur,34.0,56.0,10.0,66.0,-32.0
7,Gurgaon,35.0,57.0,8.0,65.0,-30.0
6,Kharar,35.0,52.0,13.0,65.0,-30.0

In [ ]:
# Normalize competitor demand
df1['DemandScore'] = df1['Competitor_Total'] / df1['Competitor_Total'].max()

# Normalize weakness (convert negative gap to positive score)
df1['WeaknessScore'] = abs(df1['zepto_Gap']) / abs(df1['zepto_Gap'].min())

# Final Opportunity Score
df1['OpportunityScore'] = (
    0.6 * df1['DemandScore'] +
    0.4 * df1['WeaknessScore']
)

# Rank cities
final_rank = df1.sort_values(
    by='OpportunityScore',
    ascending=False
)

final_rank.head(10)

,city,zepto,blinkit,instamart,Competitor_Total,zepto_Gap,DemandScore,WeaknessScore,OpportunityScore
26,Dehradun,24.0,63.0,13.0,76.0,-52.0,1.000000,1.000000,1.000000
32,Kolkata,30.0,58.0,12.0,70.0,-40.0,0.921053,0.769231,0.860324
23,Panchkula,31.0,58.0,11.0,69.0,-38.0,0.907895,0.730769,0.837045
21,Sahibzada Ajit Singh Nagar,31.0,55.0,14.0,69.0,-38.0,0.907895,0.730769,0.837045
27,Faridabad,32.0,59.0,9.0,68.0,-36.0,0.894737,0.692308,0.813765
15,New Delhi,34.0,56.0,10.0,66.0,-32.0,0.868421,0.615385,0.767206
29,Jaipur,34.0,56.0,10.0,66.0,-32.0,0.868421,0.615385,0.767206
33,Vasai,34.0,53.0,13.0,66.0,-32.0,0.868421,0.615385,0.767206
6,Kharar,35.0,52.0,13.0,65.0,-30.0,0.855263,0.576923,0.743927
7,Gurgaon,35.0,57.0,8.0,65.0,-30.0,0.855263,0.576923,0.743927

In [ ]:
final_rank[['city','OpportunityScore']].head(5)

                          city  OpportunityScore
26                    Dehradun          1.000000
32                     Kolkata          0.860324
23                   Panchkula          0.837045
21  Sahibzada Ajit Singh Nagar          0.837045
27                   Faridabad          0.813765

In [ ]:
def classify_tier(score):
    if score >= 0.85:
        return "Immediate Expansion"
    elif score >= 0.75:
        return "Short-Term Expansion"
    else:
        return "Monitor"

final_rank['Expansion_Tier'] = final_rank['OpportunityScore'].apply(classify_tier)

final_rank.head(34)

,city,zepto,blinkit,instamart,Competitor_Total,zepto_Gap,DemandScore,WeaknessScore,OpportunityScore,Expansion_Tier
26,Dehradun,24.0,63.0,13.0,76.0,-52.0,1.000000,1.000000,1.000000,Immediate Expansion
32,Kolkata,30.0,58.0,12.0,70.0,-40.0,0.921053,0.769231,0.860324,Immediate Expansion
23,Panchkula,31.0,58.0,11.0,69.0,-38.0,0.907895,0.730769,0.837045,Short-Term Expansion
21,Sahibzada Ajit Singh Nagar,31.0,55.0,14.0,69.0,-38.0,0.907895,0.730769,0.837045,Short-Term Expansion
27,Faridabad,32.0,59.0,9.0,68.0,-36.0,0.894737,0.692308,0.813765,Short-Term Expansion
15,New Delhi,34.0,56.0,10.0,66.0,-32.0,0.868421,0.615385,0.767206,Short-Term Expansion
29,Jaipur,34.0,56.0,10.0,66.0,-32.0,0.868421,0.615385,0.767206,Short-Term Expansion
33,Vasai,34.0,53.0,13.0,66.0,-32.0,0.868421,0.615385,0.767206,Short-Term Expansion
6,Kharar,35.0,52.0,13.0,65.0,-30.0,0.855263,0.576923,0.743927,Monitor
7,Gurgaon,35.0,57.0,8.0,65.0,-30.0,0.855263,0.576923,0.743927,Monitor
30,Pune,36.0,52.0,12.0,64.0,-28.0,0.842105,0.538462,0.720648,Monitor
28,Kalyan,37.0,49.0,14.0,63.0,-26.0,0.828947,0.500000,0.697368,Monitor
1,Greater Noida,38.0,52.0,10.0,62.0,-24.0,0.815789,0.461538,0.674089,Monitor
17,Pimpri-Chinchwad,39.0,50.0,11.0,61.0,-22.0,0.802632,0.423077,0.650810,Monitor
18,Mira Bhayandar,39.0,48.0,13.0,61.0,-22.0,0.802632,0.423077,0.650810,Monitor
31,Belagavi,39.0,48.0,13.0,61.0,-22.0,0.802632,0.423077,0.650810,Monitor
5,Ghaziabad,39.0,52.0,9.0,61.0,-22.0,0.802632,0.423077,0.650810,Monitor
2,Noida,40.0,52.0,8.0,60.0,-20.0,0.789474,0.384615,0.627530,Monitor
16,Virar,42.0,50.0,8.0,58.0,-16.0,0.763158,0.307692,0.580972,Monitor
9,Badlapur,43.0,48.0,9.0,57.0,-14.0,0.750000,0.269231,0.557692,Monitor
8,Dombivli,43.0,42.0,15.0,57.0,-14.0,0.750000,0.269231,0.557692,Monitor
24,Hubali-Dharwad,43.0,45.0,12.0,57.0,-14.0,0.750000,0.269231,0.557692,Monitor
14,Navi Mumbai,45.0,43.0,12.0,55.0,-10.0,0.723684,0.192308,0.511134,Monitor
4,Bengaluru,46.0,40.0,14.0,54.0,-8.0,0.710526,0.153846,0.487854,Monitor
19,Thane,47.0,40.0,13.0,53.0,-6.0,0.697368,0.115385,0.464575,Monitor
11,Hyderabad,47.0,38.0,15.0,53.0,-6.0,0.697368,0.115385,0.464575,Monitor
12,Mumbai,47.0,41.0,12.0,53.0,-6.0,0.697368,0.115385,0.464575,Monitor
10,Ulhasnagar,47.0,39.0,14.0,53.0,-6.0,0.697368,0.115385,0.464575,Monitor
0,Kattankulathur,54.0,37.0,9.0,46.0,8.0,0.605263,0.153846,0.424696,Monitor
13,Karimnagar,54.0,24.0,22.0,46.0,8.0,0.605263,0.153846,0.424696,Monitor
3,Secunderabad,51.0,33.0,16.0,49.0,2.0,0.644737,0.038462,0.402227,Monitor
25,Pimplad,51.0,37.0,12.0,49.0,2.0,0.644737,0.038462,0.402227,Monitor
22,Nashik,50.0,38.0,12.0,50.0,0.0,0.657895,0.000000,0.394737,Monitor
20,Chennai,50.0,33.0,17.0,50.0,0.0,0.657895,0.000000,0.394737,Monitor

In [ ]:
metros = [
    "New Delhi", "Mumbai", "Bengaluru", "Chennai",
    "Hyderabad", "Pune", "Kolkata", "Noida", "Gurgaon"
]

true_expansion = final_rank[
    ~final_rank["city"].isin(metros)
]

true_expansion.head(10)

,city,zepto,blinkit,instamart,Competitor_Total,zepto_Gap,DemandScore,WeaknessScore,OpportunityScore,Expansion_Tier
26,Dehradun,24.0,63.0,13.0,76.0,-52.0,1.000000,1.000000,1.000000,Immediate Expansion
23,Panchkula,31.0,58.0,11.0,69.0,-38.0,0.907895,0.730769,0.837045,Short-Term Expansion
21,Sahibzada Ajit Singh Nagar,31.0,55.0,14.0,69.0,-38.0,0.907895,0.730769,0.837045,Short-Term Expansion
27,Faridabad,32.0,59.0,9.0,68.0,-36.0,0.894737,0.692308,0.813765,Short-Term Expansion
29,Jaipur,34.0,56.0,10.0,66.0,-32.0,0.868421,0.615385,0.767206,Short-Term Expansion
33,Vasai,34.0,53.0,13.0,66.0,-32.0,0.868421,0.615385,0.767206,Short-Term Expansion
6,Kharar,35.0,52.0,13.0,65.0,-30.0,0.855263,0.576923,0.743927,Monitor
28,Kalyan,37.0,49.0,14.0,63.0,-26.0,0.828947,0.500000,0.697368,Monitor
1,Greater Noida,38.0,52.0,10.0,62.0,-24.0,0.815789,0.461538,0.674089,Monitor
17,Pimpri-Chinchwad,39.0,50.0,11.0,61.0,-22.0,0.802632,0.423077,0.650810,Monitor

In [ ]:
expansion_avg = true_expansion[[
    "zepto",
    "Competitor_Total"
]].mean()

expansion_avg

zepto               40.88
Competitor_Total    59.12
dtype: float64

In [ ]:
! pip install google-play-scraper

Collecting google-play-scraper
  Downloading google_play_scraper-1.2.7-py3-none-any.whl.metadata (50 kB)
     â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 50.2/50.2 kB 2.3 MB/s eta 0:00:00
Downloading google_play_scraper-1.2.7-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.7

In [ ]:
from google_play_scraper import reviews,Sort
import pandas as pd
import numpy as np

In [ ]:
zepto_app = "com.zeptoconsumerapp"
blinkit_app = "com.grofers.customerapp"
swiggy_app = "in.swiggy.android"

In [ ]:
zepto_reviews,_ = reviews(
    zepto_app,
    lang='en',
    country='in',
    sort=Sort.NEWEST,
    count=1000
)

zepto_df = pd.DataFrame(zepto_reviews)

zepto_df.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,5629af48-f615-4216-924b-35ee00d381c1,ROHAN,https://play-lh.googleusercontent.com/a/ACg8oc...,errrrr,1,0,26.2.5,2026-02-24 08:41:15,Hey!\n\nLooks like you've had an unpleasant ex...,2026-02-24 08:42:25,26.2.5
1,d8af038c-d84f-465d-aeb9-4b2978919eb6,Addala Harika,https://play-lh.googleusercontent.com/a/ACg8oc...,not responding customer care since I request m...,1,0,None,2026-02-24 08:39:02,Hey!\n\nLooks like you've had an unpleasant ex...,2026-02-24 08:40:26,None
2,e35c7f5a-06a4-43a8-a36c-62e8e0a08f29,Alifsha Qureshi,https://play-lh.googleusercontent.com/a/ACg8oc...,ðŸ«¶ðŸ«¶,5,0,26.2.4,2026-02-24 08:38:30,None,NaT,26.2.4
3,8e71a4a0-659c-4397-8f7d-0c903ccd37b7,Aqib Razzak,https://play-lh.googleusercontent.com/a/ACg8oc...,super app,5,0,26.2.5,2026-02-24 08:35:56,None,NaT,26.2.5
4,62540975-3313-4451-9002-b49fbe1817c6,Manju Siwach,https://play-lh.googleusercontent.com/a/ACg8oc...,free delivery,5,0,26.2.4,2026-02-24 08:34:02,None,NaT,26.2.4

In [ ]:
zepto_df = zepto_df[['content', 'score', 'at']]
zepto_df.head()

,content,score,at
0,errrrr,1,2026-02-24 08:41:15
1,not responding customer care since I request m...,1,2026-02-24 08:39:02
2,ðŸ«¶ðŸ«¶,5,2026-02-24 08:38:30
3,super app,5,2026-02-24 08:35:56
4,free delivery,5,2026-02-24 08:34:02

In [ ]:
zepto_df.shape

(1000, 3)

In [ ]:
blinkit_reviews,_= reviews(
    blinkit_app,
    lang='en',
    country='in',
    sort=Sort.NEWEST,
    count=1000
)

blinkit_df = pd.DataFrame(blinkit_reviews)

blinkit_df.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,e88ff844-b6b8-4ace-b958-b380362b55e3,Mohinuddin noorani,https://play-lh.googleusercontent.com/a/ACg8oc...,bad ðŸ˜ž,1,0,17.79.0,2026-02-24 08:52:49,"Hi there, extremely sorry for the kind of expe...",2026-02-24 09:03:04,17.79.0
1,08f052d6-77a3-40ba-b9d9-5186dcef0f93,Ruchita Halwai,https://play-lh.googleusercontent.com/a/ACg8oc...,best minute app in the whole world BE10X,5,0,17.79.0,2026-02-24 08:51:54,It is delightful to hear such positive words a...,2026-02-24 08:59:24,17.79.0
2,0bf0c6e1-70e2-4591-9f34-fcf5fbe9b5b8,Swity Das,https://play-lh.googleusercontent.com/a-/ALV-U...,nice work but costly,5,0,17.79.0,2026-02-24 08:50:37,None,NaT,17.79.0
3,05d47e74-93fd-4633-96f8-069b53ab89d5,Shuvojit Dey,https://play-lh.googleusercontent.com/a-/ALV-U...,Nice ðŸ‘ðŸ‘ðŸ‘,5,0,17.79.1,2026-02-24 08:50:29,"Hi there, we are delighted to hear the kind wo...",2026-02-24 08:56:18,17.79.1
4,59d7d9f9-f9fd-4521-9a1f-1b525452fe06,Utsav pathak,https://play-lh.googleusercontent.com/a/ACg8oc...,best product,5,0,17.79.0,2026-02-24 08:49:24,"Hi there, we are delighted to hear the kind wo...",2026-02-24 08:56:14,17.79.0

In [ ]:
blinkit_df = blinkit_df[['content', 'score', 'at']]
blinkit_df.head()

                                    content  score                  at
0                                     bad ðŸ˜ž      1 2026-02-24 08:52:49
1  best minute app in the whole world BE10X      5 2026-02-24 08:51:54
2                      nice work but costly      5 2026-02-24 08:50:37
3                                  Nice ðŸ‘ðŸ‘ðŸ‘      5 2026-02-24 08:50:29
4                              best product      5 2026-02-24 08:49:24

In [ ]:
instamart_reviews, _ = reviews(
    swiggy_app,
    lang='en',
    country='in',
    count=1000
)

instamart_df = pd.DataFrame(instamart_reviews)

instamart_df.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,ac1efd5f-d508-4b6b-968d-5b4ae6a16d7a,Muskan Muskan,https://play-lh.googleusercontent.com/a/ACg8oc...,this app reason of my happiness,5,0,4.96.4,2026-02-24 08:52:40,Hey there! It's a bliss to see that our servic...,2026-02-24 09:02:38,4.96.4
1,f4e8e03b-1cde-41ab-bfc1-860ed3365543,Akriti Singh,https://play-lh.googleusercontent.com/a/ACg8oc...,good service ðŸ‘,4,0,4.103.2,2026-02-24 08:45:17,Thanks a bunch for your rating! We're on a mis...,2026-02-24 08:56:56,4.103.2
2,18a93720-34a3-4292-aa34-18f626eed7c8,Sunil Lodhi,https://play-lh.googleusercontent.com/a/ACg8oc...,good,4,0,4.103.2,2026-02-24 08:45:02,"Hello, thank you so much for the positive revi...",2026-02-24 08:52:31,4.103.2
3,4d2566fe-0fef-4c0b-b7c5-e0664041e60a,Suhani Pardhan,https://play-lh.googleusercontent.com/a/ACg8oc...,Nice ðŸ™‚,4,0,4.103.2,2026-02-24 08:41:55,"Hi, thank you for delighting us with the posit...",2026-02-24 08:43:09,4.103.2
4,fb4c9a7c-2c9f-4816-afb1-51b3e415e908,Sophi Sophi,https://play-lh.googleusercontent.com/a-/ALV-U...,ðŸ‘,5,0,4.103.2,2026-02-24 08:39:21,"Hey, we are glad to have patrons like you and ...",2026-02-24 08:43:11,4.103.2

In [ ]:
instamart_df = instamart_df[['content', 'score', 'at']]
instamart_df.head()

                           content  score                  at
0  this app reason of my happiness      5 2026-02-24 08:52:40
1                   good service ðŸ‘      4 2026-02-24 08:45:17
2                             good      4 2026-02-24 08:45:02
3                           Nice ðŸ™‚      4 2026-02-24 08:41:55
4                                ðŸ‘      5 2026-02-24 08:39:21

In [ ]:
blinkit_df.shape

(1000, 3)

In [ ]:
instamart_df.shape

(1000, 3)

In [ ]:
zepto_df["Company"] = "Zepto"
blinkit_df["Company"] = "Blinkit"
instamart_df["Company"] = "Instamart"

In [ ]:
all_reviews = pd.concat([zepto_df, blinkit_df, instamart_df], ignore_index=True)

all_reviews.shape

(3000, 4)

In [ ]:
def classify_sentiment(score):
    if score >= 4:
        return "Positive"
    elif score == 3:
        return "Neutral"
    else:
        return "Negative"

all_reviews["Sentiment"] = all_reviews["score"].apply(classify_sentiment)

In [ ]:
all_reviews.head()

,content,score,at,Company,Sentiment
0,errrrr,1,2026-02-24 08:41:15,Zepto,Negative
1,not responding customer care since I request m...,1,2026-02-24 08:39:02,Zepto,Negative
2,ðŸ«¶ðŸ«¶,5,2026-02-24 08:38:30,Zepto,Positive
3,super app,5,2026-02-24 08:35:56,Zepto,Positive
4,free delivery,5,2026-02-24 08:34:02,Zepto,Positive

In [ ]:
sentiment_company = (
    all_reviews
    .groupby(["Company", "Sentiment"])
    .size()
    .unstack()
)

sentiment_company_percent = sentiment_company.div(
    sentiment_company.sum(axis=1), axis=0
) * 100

sentiment_company_percent

Sentiment  Negative  Neutral  Positive
Company
Blinkit        17.9      3.7      78.4
Instamart      30.2      3.6      66.2
Zepto          39.8      3.3      56.9

In [ ]:
import re
from collections import Counter

# Filter only Zepto negative reviews
zepto_negative = all_reviews[
    (all_reviews["Company"] == "Zepto") &
    (all_reviews["Sentiment"] == "Negative")
]

# Clean text
text = " ".join(zepto_negative["content"].str.lower())

# Remove punctuation
text = re.sub(r'[^a-z\s]', '', text)

# Split words
words = text.split()

# Remove common stopwords
stopwords = set(["the","is","and","to","a","of","in","it","for","on","my","this","that","with","was","very","not","have","but"])
words = [word for word in words if word not in stopwords and len(word) > 3]

# Count frequency
word_counts = Counter(words)

word_counts.most_common(20)

[('they', 141),
 ('order', 135),
 ('delivery', 123),
 ('customer', 115),
 ('zepto', 107),
 ('product', 92),
 ('worst', 89),
 ('service', 84),
 ('from', 78),
 ('time', 76),
 ('dont', 67),
 ('support', 67),
 ('experience', 59),
 ('refund', 50),
 ('ordered', 50),
 ('will', 46),
 ('after', 45),
 ('when', 45),
 ('even', 42),
 ('your', 40)]

In [ ]:
def categorize_issue(text):
    text = text.lower()

    if "delivery" in text or "minute" in text or "late" in text:
        return "Delivery Issue"
    elif "refund" in text or "support" in text or "customer" in text:
        return "Support Issue"
    elif "order" in text or "item" in text or "product" in text:
        return "Order/Product Issue"
    else:
        return "Other"

all_reviews["Issue_Category"] = all_reviews["content"].apply(categorize_issue)

In [ ]:
issue_distribution = (
    all_reviews[all_reviews["Company"] == "Zepto"]
    .groupby("Issue_Category")
    .size()
    .sort_values(ascending=False)
)

issue_distribution

Issue_Category
Other                  608
Delivery Issue         167
Support Issue          123
Order/Product Issue    102
dtype: int64

In [ ]:
zepto_negative = all_reviews[
    (all_reviews["Company"] == "Zepto") &
    (all_reviews["Sentiment"] == "Negative")
]

issue_distribution = (
    zepto_negative
    .groupby("Issue_Category")
    .size()
    .sort_values(ascending=False)
)

issue_distribution

Issue_Category
Support Issue          114
Other                  106
Delivery Issue         103
Order/Product Issue     75
dtype: int64

In [ ]:
issue_percentage = (
    zepto_negative["Issue_Category"]
    .value_counts(normalize=True) * 100
)

issue_percentage

Issue_Category
Support Issue          28.643216
Other                  26.633166
Delivery Issue         25.879397
Order/Product Issue    18.844221
Name: proportion, dtype: float64

In [ ]:
pop=pd.read_csv('/content/drive/MyDrive/Datasets/in.csv')

In [ ]:
pop.head()

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Delhi,28.6100,77.2300,India,IN,Delhi,admin,32226000,16753235
1,Mumbai,19.0761,72.8775,India,IN,MahÄrÄshtra,admin,24973000,12478447
2,KolkÄta,22.5675,88.3700,India,IN,West Bengal,admin,18502000,4496694
3,Bangalore,12.9789,77.5917,India,IN,KarnÄtaka,admin,15386000,8443675
4,Chennai,13.0825,80.2750,India,IN,Tamil NÄdu,admin,12395000,6727000

In [ ]:
pop.columns

Index(['city', 'lat', 'lng', 'country', 'iso2', 'admin_name', 'capital',
       'population', 'population_proper'],
      dtype='object')

In [ ]:
pop[['city','population']]

                city  population
0              Delhi    32226000
1             Mumbai    24973000
2            KolkÄta    18502000
3          Bangalore    15386000
4            Chennai    12395000
..               ...         ...
157      Kodagihalli        2585
158     Harna Buzurg        2579
159      Mailanhalli        2543
160        SultÄnpur        2473
161  AdakimÄranhalli        2453

[162 rows x 2 columns]

In [ ]:
df1['city'] = df1['city'].str.strip().str.lower()
pop['city'] = pop['city'].str.strip().str.lower()

In [ ]:
import unicodedata

def normalize_text(text):
    if isinstance(text, str):
        text = unicodedata.normalize('NFKD', text)
        text = text.encode('ascii', 'ignore').decode('utf-8')
        return text.lower().strip()
    return text

df1['city'] = df1['city'].apply(normalize_text)
pop['city'] = pop['city'].apply(normalize_text)

In [ ]:
set(df1['city']) & set(pop_big['city'])

{'chennai',
 'faridabad',
 'ghaziabad',
 'hyderabad',
 'jaipur',
 'kalyan',
 'kolkata',
 'mumbai',
 'pimpri-chinchwad',
 'pune',
 'thane'}

In [ ]:
df1['population'].isna().sum()

np.int64(21)

In [ ]:
df1[df1['population'].isna()]['city']

0                 kattankulathur
1                  greater noida
2                          noida
4                      bengaluru
6                         kharar
7                        gurgaon
8                       dombivli
9                       badlapur
10                    ulhasnagar
13                    karimnagar
14                   navi mumbai
16                         virar
18                mira bhayandar
21    sahibzada ajit singh nagar
22                        nashik
23                     panchkula
24                hubali-dharwad
25                       pimplad
26                      dehradun
31                      belagavi
33                         vasai
Name: city, dtype: object

In [ ]:
city_corrections = {
    'bengaluru': 'bangalore',
    'nashik': 'nasik',
    'gurgaon': 'gurugram',   # if present in pop dataset
    'vasai': 'vasai-virar',
    'hubali-dharwad': 'hubli',
    'sahibzada ajit singh nagar': 'mohali',
    'navi mumbai': 'navimumbai',  # check exact spelling in pop
}

In [ ]:
df1['city'] = df1['city'].replace(city_corrections)

In [ ]:
df1 = df1.merge(
    pop_big[['city','population']],
    on='city',
    how='left'
)

In [ ]:
df1['population'].isna().sum()

np.int64(20)

In [ ]:
df1.columns

Index(['city', 'zepto', 'blinkit', 'instamart', 'Competitor_Total',
       'zepto_Gap', 'DemandScore', 'WeaknessScore', 'OpportunityScore',
       'population_x', 'population_y', 'population'],
      dtype='object')

In [ ]:
df1[['population_x','population_y','population']].notna().sum()

population_x    13
population_y    14
population      14
dtype: int64

In [ ]:
(df1['population'] == df1['population_y']).sum()

np.int64(14)

In [ ]:
df1 = df1.drop(columns=['population_x','population_y'])

In [ ]:
df1.columns

Index(['city', 'zepto', 'blinkit', 'instamart', 'Competitor_Total',
       'zepto_Gap', 'DemandScore', 'WeaknessScore', 'OpportunityScore',
       'population'],
      dtype='object')

In [ ]:
df1[df1['population'].isna()]['city']

0     kattankulathur
1      greater noida
2              noida
3       secunderabad
6             kharar
7           gurugram
8           dombivli
9           badlapur
10        ulhasnagar
13        karimnagar
14        navimumbai
15         new delhi
16             virar
18    mira bhayandar
21            mohali
23         panchkula
24             hubli
25           pimplad
26          dehradun
31          belagavi
Name: city, dtype: object

In [ ]:
df1['city'] = df1['city'].replace({
    'gurugram': 'gurgaon',
    'new delhi': 'delhi',
    'navimumbai': 'navi mumbai',
    'mohali': 'sahibzada ajit singh nagar',
    'hubli': 'hubli-dharwad'
})

In [ ]:
df1['population'].isna().sum()

np.int64(20)

In [ ]:
set(df1[df1['population'].isna()]['city']) & set(pop_big['city'])

{'delhi'}

In [ ]:
df1 = df1.dropna(subset=['population'])

In [ ]:
df1.shape

(14, 10)

In [ ]:
df1['PopulationScore'] = (
    df1['population'] - df1['population'].min()
) / (
    df1['population'].max() - df1['population'].min()
)

In [ ]:
df1[['city','population','PopulationScore']].sort_values(
    by='PopulationScore', ascending=False
)

                city  population  PopulationScore
12            mumbai  24973000.0         1.000000
32           kolkata  18502000.0         0.727557
4          bangalore  15386000.0         0.596367
20           chennai  12395000.0         0.470439
11         hyderabad  10494000.0         0.390403
30              pune   8231000.0         0.295126
29            jaipur   3073350.0         0.077978
5          ghaziabad   2375820.0         0.048611
19             thane   1886941.0         0.028028
17  pimpri-chinchwad   1727692.0         0.021323
22             nasik   1486053.0         0.011149
27         faridabad   1414050.0         0.008118
28            kalyan   1246381.0         0.001059
33       vasai-virar   1221233.0         0.000000

In [ ]:
df1['CompetitorScore'] = (
    df1['Competitor_Total'] - df1['Competitor_Total'].min()
) / (
    df1['Competitor_Total'].max() - df1['Competitor_Total'].min()
)

In [ ]:
df1['GrowthScore'] = (
    0.4 * df1['DemandScore'] +
    0.25 * df1['PopulationScore'] +
    0.2 * df1['WeaknessScore'] +
    0.15 * df1['CompetitorScore']
)

In [ ]:
df1[['city','GrowthScore']].sort_values(
    by='GrowthScore', ascending=False
)

                city  GrowthScore
32           kolkata     0.854156
27         faridabad     0.633386
30              pune     0.623316
29            jaipur     0.609940
33       vasai-virar     0.590445
12            mumbai     0.574524
28            kalyan     0.529344
5          ghaziabad     0.500321
4          bangalore     0.494071
17  pimpri-chinchwad     0.493499
11         hyderabad     0.422125
20           chennai     0.380768
19             thane     0.331531
22             nasik     0.265945

In [ ]:
df1['Expansion_Tier'] = pd.cut(
    df1['GrowthScore'],
    bins=[0,0.35,0.55,0.75,1],
    labels=['Low Priority','Monitor','Short-Term','Immediate']
)

df1[['city','GrowthScore','Expansion_Tier']].sort_values(
    by='GrowthScore', ascending=False
)

                city  GrowthScore Expansion_Tier
32           kolkata     0.854156      Immediate
27         faridabad     0.633386     Short-Term
30              pune     0.623316     Short-Term
29            jaipur     0.609940     Short-Term
33       vasai-virar     0.590445     Short-Term
12            mumbai     0.574524     Short-Term
28            kalyan     0.529344        Monitor
5          ghaziabad     0.500321        Monitor
4          bangalore     0.494071        Monitor
17  pimpri-chinchwad     0.493499        Monitor
11         hyderabad     0.422125        Monitor
20           chennai     0.380768        Monitor
19             thane     0.331531   Low Priority
22             nasik     0.265945   Low Priority

In [ ]:
df1.head()

,city,zepto,blinkit,instamart,Competitor_Total,zepto_Gap,DemandScore,WeaknessScore,OpportunityScore,population,PopulationScore,CompetitorScore,GrowthScore,Expansion_Tier
4,bangalore,46.0,40.0,14.0,54.0,-8.0,0.710526,0.153846,0.487854,15386000.0,0.596367,0.20,0.494071,Monitor
5,ghaziabad,39.0,52.0,9.0,61.0,-22.0,0.802632,0.423077,0.650810,2375820.0,0.048611,0.55,0.500321,Monitor
11,hyderabad,47.0,38.0,15.0,53.0,-6.0,0.697368,0.115385,0.464575,10494000.0,0.390403,0.15,0.422125,Monitor
12,mumbai,47.0,41.0,12.0,53.0,-6.0,0.697368,0.115385,0.464575,24973000.0,1.000000,0.15,0.574524,Short-Term
17,pimpri-chinchwad,39.0,50.0,11.0,61.0,-22.0,0.802632,0.423077,0.650810,1727692.0,0.021323,0.55,0.493499,Monitor

In [ ]:
df1.to_csv("zepto_expansion_strategy_final.csv", index=False)

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
os.listdir()

['.config', 'drive', 'zepto_expansion_strategy_final.csv', 'sample_data']

In [ ]:
from google.colab import files
files.download("zepto_expansion_strategy_final.csv")